<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ying.jianxuan">


    <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
    <!-- 读取手机状态和身份 -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 允许应用程序访问额外的位置提供命令 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:name=".Application"
        android:networkSecurityConfig="@xml/http"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.notch_support" android:value="true"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <receiver android:name=".widget.Appwidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
            </intent-filter>
        </receiver>
        <service
            android:exported="false"
            android:name=".widget.App">
            <intent-filter>
                <action android:name="android.intent.ACTION_TIMEZONE_CHANGED" />
                <action android:name="android.intent.ACTION_TIME" />
            </intent-filter>
        </service>
        <activity
            android:theme="@style/AppTheme"
            android:name=".Main"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true"
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name=".activity.Logo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="101894532" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name=".activity.X5"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name=".ui.ui.xbao.http.main"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name=".ui.ui.zfa.list.main"
            android:hardwareAccelerated="true"/>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme"
            android:name=".activity.sz_activity" />
       <!-- <service
            android:persistent="true"
            android:name=".MyAccessibility"
            android:enabled="true"
            android:exported="true"
            android:label="@string/rj"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        通过xml文件完成辅助功能相关配置，也可以在onServiceConnected中动态配置
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>-->


    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:noHistory="true"
        android:launchMode="singleTask" >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="101894532" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="behind"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:authorities="com.ying.qingyuan.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

</manifest>